* {
    margin: 0;
}

body {
    background-color: #030014;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #d8197e;
    text-align: center;
    font-size: 500%;
}

p {
    color: #E47ACF;
    text-align: center;
    font-size: 200%;
}

.heading {
    padding-top: 5vh;
}

.subtitle {
    padding: 3vh;
}

.date {
    padding-bottom: 5vh;
    font-size: 150%;
    color: #271b61;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.background-gradient {
    background: linear-gradient(314deg, #000116, #21001f, #120021, #050049);
    background-size: 800% 800%;
    animation: backgroundGradient 18s ease infinite;
}

@keyframes backgroundGradient {
    0% {
        background-position: 24% 0%
    }

    50% {
        background-position: 77% 100%
    }

    100% {
        background-position: 24% 0%
    }
}

.main-height {
    height: 100vh;
    margin: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #ff88f517;
}

.container i {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 120%;
    transform: translateY(-50%);
    transition: transform 0.2s linear;
    background: #eea8e279;
    box-shadow: 0 5px 10px #00000083;
    color: #1b0027;
}

.container i:active {
    transform: translateY(-50%) scale(0.85);
}

.container i:first-child {
    left: 25px;
}

.container i:last-child {
    right: 25px;
}

.container .subcontainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) + 30px);
    gap: 10px;
    margin: 100px;
    overflow-x: auto;
    transform: scale(1);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.subcontainer::-webkit-scrollbar {
    display: none;
}

.subcontainer.no-transition {
    scroll-behavior: auto;
}

.subcontainer :where(.images, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    display: flex;
}

.subcontainer .images {
    scroll-snap-align: start;
    flex-direction: column;
    list-style: none;
}

.images img {
    display: flex;
    margin: 92px auto 92px;
    justify-items: center;
    align-items: center;
    width: 315px;
    height: 315px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.7s ease;
    box-shadow: 0 5px 10px #00000083;
}

.images img:hover {
    box-shadow: 0 0 10px 5px #0c001bc0;
    transform: scale(0.9);
}

.timeline-container {
    height: fit-content;
    background-color: #2B1D4A;
    font-family: 'Varela Round';
}

.timeline-container h1 {
    color: #e9a7f1;
    text-shadow: 0 0 8px #000;
    padding-top: 10vh;
}

.timeline-container p {
    color: #b57cbb;
    text-shadow: 0 0 8px #000;
    padding: 5vh;
}

.timeline-subcontainer {
    height: 80vh;
    display: grid;
    grid-template-columns: 40vw 20vw 40vw;
    justify-items: center;
}

.timeline-circle {
    position: sticky;
    top: 20vh;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #e9a7f1;
    box-shadow: 0 0 6px #000;
    outline: 6px solid #2B1D4A;
}

.timeline-line {
    position: sticky;
    width: 20px;
    top: 20vh;
    outline: 3px solid #2B1D4A;
    outline-offset: -5px;
    border-radius: 10px 10px 10px 10px;
    background-color: #131330;
}

.timeline-date {
    position: sticky;
    top: 20vh;
    justify-self: right;
    width: fit-content;
    height: fit-content;
    color: #a46cd8;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 6px #000;
}

.timeline-text {
    display: flex;
    justify-self: left;
    align-items: flex-end;
    color: #000116;
    font-size: 30px;
}

@media screen and (max-width: 1400px) {
    .container .subcontainer {
        grid-auto-columns: calc((100% / 3));
    }
}

@media screen and (max-width: 1200px) {
    .container .subcontainer {
        grid-auto-columns: calc((100% / 2) + 10px);
    }
}

@media screen and (max-width: 800px) {
    .container .subcontainer {
        grid-auto-columns: 100%
    }
}